
@{
    ViewBag.Title = "Pay";
}

<body style="background-image: url(http://blog.hdwallsource.com/wp-content/uploads/2014/11/gradient-26052-26737-hd-wallpapers.jpg-680x425.png)" ;>
    <h2>Thank you for choosing Ukraine International Airline.</h2>

